Source: workspaces-wallpapers
Section: x11
Priority: optional
Maintainer: Herculean Inc <hello@hercules.dev>
Build-Depends: debhelper (>= 10)
Standards-Version: 1.0
Homepage: https://github.com/herculean-inc/workspaces-wallpapers.git
Vcs-Git: https://github.com/herculean-inc/workspaces-wallpapers.git

Package: workspaces-wallpapers
Architecture: all
Provides: ubuntu-wallpapers
Description: Workspaces Wallpapers
A collection of wallpapers for Workspaces OS.
